body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mazeContainer {
    min-width: 300px;
    max-height: 100%;
    aspect-ratio: 1/1.414; /* Approximate aspect ratio for a square grid */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1px;
    padding: 20px 10px;
}

.controls {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.cell {
    background-color: rgb(208, 208, 208);
    min-width: 10px;
    min-height: 10px;
    border: 1px solid black;
    text-align: center;
}

.visited {
    background-color: rgb(255, 255, 255);
}

.start {
    background-color: rgb(188, 224, 188);
    border-top: none;
}

.start::after {
    content: "↓";
    display: inline-block;
    font-weight: bold;
    position: relative;
    bottom: 100%;
}

.end {
    background-color: #eca4a4;
    border-bottom: none;
}

.end::after {
    content: "↓";
    display: inline-block;
    font-weight: bold;
    position: relative;
    top: 100%;
}

.cell.no-left-wall {
    border-left: none;
}
.cell.no-right-wall {
    border-right: none;
}
.cell.no-top-wall {
    border-top: none;
}
.cell.no-bottom-wall {
    border-bottom: none;
}
