body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mazeContainer {
    /* min-height: 500px;
    max-height: 600px;
    aspect-ratio: 1 / 1; */
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1px;
    margin: 20px;
}

.cell {
    background-color: lightblue;
    min-width: 10px;
    min-height: 10px;
    border: 3px solid black;
}

.visited {
    background-color: rgb(255, 130, 255);
}

.start {
    background-color: green;
}

.end {
    background-color: red;
}
